.qf-goodlist {
  .qf-filter {
    padding: 20px;
    background: rgba(250,250,250,1);
  }
  .qf-table {
    padding: 20px 0;
  }

  .ant-table-title {
    padding-right: 0;
  }

  .good {
    img {
      display: inline-block;
      width: 60px;
      height: 60px;
    }
  }
}
